<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Benny's Pizza</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
        <div class="header">   
            <h1>Welcome to Benny's Pizza on Route 715!</h1>
            <p>Phone Number goes here.</p>
            <p>Dine-in - Take-out - Catering - Deliveries - Parties</p>
        </div>

        <div class="nav">
            <div id="starters-section">
                <h2>Starters</h2>
                <a href="/starters" class="button">Starters</a>
            </div>
            <div id="pizza-section">
                <h2>Pizza</h2>
                <a href="/pizza" class="button">Pizza</a>
            </div>
            <div id="sub-selection">
                <h2>Subs</h2>
                <a href="/subs" class="button">Subs</a>
            </div>
            <div id="meal-selection">
                <h2>Meals</h2>
                <a href="/meals" class="button">Meals</a>
            </div>
            <div id="dessert-selection">
                <h2>Desserts</h2>
                <a href="/desserts" class="button">Desserts</a>
            </div>
            <div id="catering-selection">
                <h2>Catering</h2>
                <a href="/catering" class="button">Catering</a>
            </div>
        </div>

        <div class="footer">
            <div>Address Here</div>
            <div>
                <p>Accepted Payments:</p>
                <span>Mastercard</span> - <span>Visa</span>
            </div>
            <div><a href="link-to-fb-page">Link to FB</a></div>
        </div>


    </body>
</html>