<!-- This is the main structure of Benny's Pizza  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benny's Pizza</title>
    <!-- Linking to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header section showing the log and info -->
    <div class="header">
        <img src="{{  url_for('static', filename='images/benny_logo.png') }}" alt="Benny's Logo" style="height: 100px; margin-right: 10px;"/>
        <h1>Welcome to Benny's Pizza on Route 715!</h1>
        <p>570-420-7770</p>
        <p>Dine-in - Take-out - Catering - Deliveries - Parties</p>
    </div>

    <!-- Navigation bar for the menu sections -->
    <div class="nav">
        <div id="button-banner">
            <!-- Each button loads a specific menu section -->
            <a class="button" onclick="loadSection('starters')">
                <img src="{{ url_for('static', filename='images/starters_logo.png') }}" alt="Starters">
                <span>Starters</span>
            </a>
            <a class="button" onclick="loadSection('pizza')" alt="Pizza">
                <img src="{{ url_for('static', filename='images/pizza_logo.png') }}" alt="Pizza">
                <span>Pizza</span>
            </a>
            <a class="button" onclick="loadSection('strombolis')">
                <img src="{{ url_for('static', filename='images/stromboli_logo.png') }}" alt="Strombolis">
                <span>Strombolis</span>
            </a>
            <a class="button" onclick="loadSection('subs')">
                <img src="{{ url_for('static', filename='images/subs_logo.png') }}" alt="Subs">
                <span>Subs</span>
            </a>
            <a class="button" onclick="loadSection('meals')">
                <img src="{{ url_for('static', filename='images/meals_logo.png') }}" alt="Meals">
                <span>Meals</span>
            </a>
            <a class="button" onclick="loadSection('desserts')">
                <img src="{{ url_for('static', filename='images/desserts_logo.png') }}" alt="Desserts">
                <span>Desserts</span>
            </a>
            <a class="button" onclick="loadSection('catering')">
                <img src="{{ url_for('static', filename='images/catering_logo.png') }}" alt="Catering">
                <span>Catering</span>
            </a>
        </div>
    </div>
    <!-- Main content area where menu details are loaded dynamically -->
    <div id="content-area">
        <div id="menu-content"></div>
    </div>
    <!-- Footer section with address and Facebook link -->
    <div class="footer">
        <div class="footer-section left">
            <p>1523 Route 715, Stroudsburg, PA 18360</p>
            <a href="{{ url_for('main.login') }}" class="button" style="height: 20px; text-align: center;">Employees</a>
        </div>
        <div class="footer-section center">
            <img src="{{ url_for('static', filename='images/mastercar_logo.png') }}" alt="Mastercard Logo" style="height: 40px; margin-right: 10px;">
            <img src="{{ url_for('static', filename='images/visa_logo.png') }}" alt="Visa Logo" style="height: 40px;">
        </div>
        <div class="footer-section right">
            <!-- Link to Facebook -->
            <div><a href="https://www.facebook.com/bennyspizza715/" target="_blank">Like us on Facebook!</a></div>
        </div>
    </div>

    <script>
        // Function to load a specific menu section
        function loadSection(section) {
            console.log('Loading section:', section); // Debugging
            const url = `/menu/${section}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('Loaded section data:', data); // Debugging
                    const menuContent = document.getElementById('menu-content');
                    menuContent.innerHTML = ''; // Clear current content
    
                    if (section === 'desserts' || section === 'catering' || section === 'strombolis') {
                        displayItems(data);
                    } else {
                        const subcategoryContainer = document.createElement('div');
                        subcategoryContainer.classList.add('horizontal-scroll'); // Added class for horizontal scroll

                        data.forEach(cat => {
                            const subcategoryDiv = document.createElement('div');
                            subcategoryDiv.classList.add('button');
                            subcategoryDiv.onclick = function() { loadItems(cat.id, cat.name); }; // Pass category name
                            
                            const img = document.createElement('img');
                            img.src = `/static/${cat.image}`; // Ensure image path is correct
                            img.alt = cat.name;

                            const span = document.createElement('span');
                            span.textContent = cat.name;
                            
                            subcategoryDiv.appendChild(img); // Append image to subcategory div
                            subcategoryDiv.appendChild(span); // Append span to subcategory div
                            subcategoryContainer.appendChild(subcategoryDiv); // Append subcategory div to menu content
                        });

                        menuContent.appendChild(subcategoryContainer);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        // Function to load specific menu section items
        function loadItems(categoryId, categoryName) {
            console.log('Loading items for category ID:', categoryId, 'Category Name:', categoryName); // Debugging
            const url = `/menu/items/${categoryId}`;
            fetch(url)
                .then(response => response.json())
                .then(items => {
                    console.log('Fetched items:', items); // Debugging
                    const menuContent = document.getElementById('menu-content');
                    menuContent.innerHTML = ''; // Clear current content
    
                    // Checking if the category is Wings to add sauces section
                    if (categoryName === 'Wings') {
                        console.log('Adding sauces section'); // Debugging
                        const saucesHeader = document.createElement('h3');
                        saucesHeader.textContent = 'Sauces';
                        menuContent.appendChild(saucesHeader);
    
                        const sauces = ['Hot', 'Mild', 'BBQ', 'Honey Hot', 'Honey BBQ', 'Honey Mustard', 'Sweet Chili', 'Garlic Parmesan', 'Old Bay Hot'];
                        const saucesDiv = document.createElement('div');
                        saucesDiv.classList.add('sauces');
    
                        sauces.forEach(sauce => {
                            const sauceItem = document.createElement('p');
                            sauceItem.textContent = sauce;
                            saucesDiv.appendChild(sauceItem);
                        });

                        menuContent.appendChild(saucesDiv);
                    }
                    displayItems(items);
                })
                .catch(error => console.error('Error:', error));
        }
        // This function displays items in the menu
        function displayItems(items) {
            console.log('Displaying items:', items); // Debugging
            const menuContent = document.getElementById('menu-content');
            menuContent.innerHTML = ''; // Clear current content
    
            items.forEach(item => {
                const itemContainer = document.createElement('div');
                itemContainer.classList.add('menu-item');
    
                const itemName = document.createElement('h3');
                itemName.textContent = item.name;
                itemContainer.appendChild(itemName);
    
                // adding descriptions
                const itemDescription = document.createElement('p');
                itemDescription.textContent = item.description;
                itemContainer.appendChild(itemDescription);
    
                if (item.sizes) {
                    try {
                        const sizes = JSON.parse(item.sizes);
                        const sizesContainer = document.createElement('div'); // creating a container for sizes
                        sizesContainer.classList.add('sizes-container'); // Adding a class for size of card
                        for (const [size, price] of Object.entries(sizes)) {
                            const sizeCard = document.createElement('div');
                            sizeCard.classList.add('size-card'); // Added class for individual size card
                            sizeCard.textContent = `${size}: $${price.toFixed(2)}`;
                            sizesContainer.appendChild(sizeCard);
                        }
                        itemContainer.appendChild(sizesContainer);
                    } catch (e) {
                        console.error('Error parsing sizes:', e);
                    }
                } else {
                    const price = document.createElement('p');
                    price.textContent = item.price === null ? 'Market Price' : `$${item.price.toFixed(2)}`;
                    itemContainer.appendChild(price);
                }
                menuContent.appendChild(itemContainer);
            });
        }
    </script>
</body>
</html>