<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benny's Pizza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Welcome to Benny's Pizza on Route 715!</h1>
        <p>Phone Number goes here.</p>
        <p>Dine-in - Take-out - Catering - Deliveries - Parties</p>
    </div>

    <div class="nav">
        <div id="button-banner">
            <a class="button" onclick="loadSection('starters')">Starters</a>
            <a class="button" onclick="loadSection('pizza')">Pizza</a>
            <a class="button" onclick="loadSection('strombolis')">Strombolis</a>
            <a class="button" onclick="loadSection('subs')">Subs</a>
            <a class="button" onclick="loadSection('meals')">Meals</a>
            <a class="button" onclick="loadSection('desserts')">Desserts</a>
            <a class="button" onclick="loadSection('catering')">Catering</a>
        </div>
    </div>

    <div id="content-area">
        <div id="menu-content"></div>
    </div>

    <div class="footer">
        <div class="footer-section left">
            <p>1523 Route 715, Stroudsburg, PA 18360</p>
        </div>
        <div class="footer-section center">
            <img src="{{ url_for('static', filename='mastercar_logo.png') }}" alt="Mastercard Logo" style="height: 40px; margin-right: 10px;">
            <img src="{{ url_for('static', filename='visa_logo.png') }}" alt="Visa Logo" style="height: 40px;">
        </div>
        <div class="footer-section right">
            <div><a href="link-to-fb-page">Link to FB</a></div>
        </div>
    </div>

    <script>
        function loadSection(section) {
            const url = `/menu/${section}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const menuContent = document.getElementById('menu-content');
                    menuContent.innerHTML = ''; // Clear current content

                    if (section === 'desserts' || section === 'catering' || section === 'strombolis') {
                        displayItems(data);
                    } else {
                        data.forEach(cat => {
                            const subcategoryDiv = document.createElement('div');
                            subcategoryDiv.textContent = cat.name;
                            subcategoryDiv.onclick = function() { loadItems(cat.id); };
                            subcategoryDiv.classList.add('button');
                            menuContent.appendChild(subcategoryDiv);
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function loadItems(categoryId) {
            const url = `/menu/items/${categoryId}`;
            fetch(url)
                .then(response => response.json())
                .then(items => displayItems(items))
                .catch(error => console.error('Error:', error));
        }

        function displayItems(items) {
            const menuContent = document.getElementById('menu-content');
            menuContent.innerHTML = ''; // Clear current content

            items.forEach(item => {
                const itemContainer = document.createElement('div');
                itemContainer.classList.add('menu-item');

                const itemName = document.createElement('h3');
                itemName.textContent = item.name;
                itemContainer.appendChild(itemName);

                
                if (item.sizes) {
                    try{
                        const sizes = JSON.parse(item.sizes);
                        for (const [size, price] of Object.entries(sizes)) {
                            const sizePrice = document.createElement('p');
                            sizePrice.textContent = `${size}: $${price.toFixed(2)}`;
                            itemContainer.appendChild(sizePrice);
                    }
                } catch (e) {
                    console.error('Error parsing sizes:', e)
                }
            } else {
                const price = document.createElement('p');
                price.textContent = `$${item.price.toFixed(2)}`;
                itemContainer.appendChild(price);
            }
                menuContent.appendChild(itemContainer);
            });
        }
    </script>
</body>
</html>
